body {
    background-image: url("./crowdphoto.jpg");
}

.quote-text {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 3.5rem;
    margin-left: 120px;
    margin-top: 280px;
}

span {
    color: green;
}

input {
    background-image: white;
    margin-left: 120px;
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    width: 300px;
    height: 40px;
    color: black;
    font-size: 18px;
    border-radius: 25px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}